<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Messages</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="selectedItem; else allItems" padding>
    <h1>{{selectedItem.author}}</h1>
    <b>{{selectedItem.content}}</b>
  </div>
  <ng-template #allItems>
    <ion-list>
      <ion-card *ngFor="let message of messages" 
        (click)="itemTapped($event, message)">
        <div class="message-header">
          <img class="message-avatar" [src]="message.avatar"/>
          <ion-card-title class="message-author">@{{message.author}}</ion-card-title>
          <span class="message-date">{{message.date | date:'dd/MM/yyyy' }}</span>
        </div>
        <ion-card-content class="message-content">
          {{message.content}}
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ng-template>

</ion-content>