messages-list {
  .message-header {
    display:flex;
    .message-avatar {
      margin-right: 2vh;
      width: 7vh;
      height: 7vh;
      border-radius: 4vh;
    }
    .message-author {
      font-weight: bolder;
      font-size: 2vh;
    }
    .message-date {
      color: #999999;
      padding: 1.3vh;
    }
  }
  .message-content {
    font-size: 2.5vh;
  }
}
